<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
hello

<form th:action="@{/save}" method="post">
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="age" placeholder="Age">
    <br>
    <input type="submit" value="Register">
</form>

<div th:if="${error}" class="alert alert-danger">
    [[${error}]]
</div>
</body>
</html>